# ---> Gradle
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

.classpath
.project

---> Custom
!/libs/
/.settings/
/bin/
/storage/
#Generated Code
/src/main/java/speiger/src/collections/booleans/*
/src/main/java/speiger/src/collections/bytes/*
/src/main/java/speiger/src/collections/shorts/*
/src/main/java/speiger/src/collections/chars/*
/src/main/java/speiger/src/collections/ints/*
/src/main/java/speiger/src/collections/longs/*
/src/main/java/speiger/src/collections/floats/*
/src/main/java/speiger/src/collections/doubles/*
/src/main/java/speiger/src/collections/objects/*

#Generated Tests
/src/test/java/speiger/src/testers/booleans/*
/src/test/java/speiger/src/testers/bytes/*
/src/test/java/speiger/src/testers/shorts/*
/src/test/java/speiger/src/testers/chars/*
/src/test/java/speiger/src/testers/ints/*
/src/test/java/speiger/src/testers/longs/*
/src/test/java/speiger/src/testers/floats/*
/src/test/java/speiger/src/testers/doubles/*
/src/test/java/speiger/src/testers/objects/*
/src/test/java/speiger/src/tests/*

#Cache result
/src/builder/resources/speiger/assets/collections/cache.bin
/src/builder/resources/speiger/assets/testers/cache.bin
/src/builder/resources/speiger/assets/tests/cache.bin
