# ---> Gradle
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

.classpath
.project

---> Custom
!/libs/
/.settings/
/bin/
/storage/
#Generated Code
#/src/main/java/speiger/src/collections/booleans/*
#/src/main/java/speiger/src/collections/bytes/*
#/src/main/java/speiger/src/collections/shorts/*
#/src/main/java/speiger/src/collections/chars/*
#/src/main/java/speiger/src/collections/ints/*
#/src/main/java/speiger/src/collections/longs/*
#/src/main/java/speiger/src/collections/floats/*
#/src/main/java/speiger/src/collections/doubles/*
#/src/main/java/speiger/src/collections/objects/*

#Cache result
#/src/builder/resources/speiger/assets/collections/cache.bin
