package speiger.src.testers.PACKAGE.tests.iterable;

#if TYPE_OBJECT
import java.util.Objects;

#endif
import org.junit.Ignore;

import speiger.src.testers.PACKAGE.tests.base.ABSTRACT_COLLECTION_TESTER;

@Ignore
@SuppressWarnings("javadoc")
public class FILE_KEY_TYPEIterableReduceTester KEY_GENERIC_TYPE extends ABSTRACT_COLLECTION_TESTER KEY_GENERIC_TYPE
{
	public void testIterableReduce_Null() {
		try {
			collection.reduce(null);
			fail("This should crash");
		} catch (NullPointerException e) {
		}
	}
	
	public void testIterableReduce_extraNull() {
		try {
			collection.reduce(EMPTY_KEY_VALUE, null);
			fail("This should crash");
		} catch (NullPointerException e) {
		}
	}
	
	public void testIterableReduce() {
		assertEquals("The sum of the collection should match", getSum(), collection.reduce(this::sum));
	}
	
	public void testIterableExtraReduce() {
#if TYPE_OBJECT
		assertEquals("The sum of the collection should match", getObjectSum(), collection.reduce(new StringBuilder(), this::sum).toString());		
#else
		assertEquals("The sum of the collection should match", getSum(), collection.reduce(EMPTY_KEY_VALUE, this::sum));
#endif
	}
	
	public KEY_TYPE getSum()
	{
		KEY_TYPE result = EMPTY_KEY_VALUE;
		for(KEY_TYPE key : collection)
		{
			result = sum(result, key);
		}
		return result;
	}
	
	public KEY_TYPE sum(KEY_TYPE key, KEY_TYPE value)
	{
#if TYPE_BYTE || TYPE_SHORT || TYPE_CHAR
		return (KEY_TYPE)(key + value);
#else if TYPE_OBJECT
		return value;
#else
		return key + value;
#endif
	}
	
#if TYPE_OBJECT
	public StringBuilder sum(StringBuilder builder, T value) {
		return builder.append(Objects.toString(value));
	}
	
	public String getObjectSum() {
		StringBuilder builder = new StringBuilder();
		for(T key : collection)
		{
			builder = sum(builder, key);
		}
		return builder.toString();
	}
#endif
}
