package speiger.src.testers.PACKAGE.generators;

import speiger.src.collections.PACKAGE.sets.NAVIGABLE_SET;

@SuppressWarnings("javadoc")
public interface TEST_NAVIGABLE_SET_GENERATOR KEY_GENERIC_TYPE extends TEST_SORTED_SET_GENERATOR KEY_GENERIC_TYPE {
#if !TYPE_OBJECT
	@Override
	NAVIGABLE_SET KEY_GENERIC_TYPE create(KEY_TYPE... elements);
#endif
	@Override
	NAVIGABLE_SET KEY_GENERIC_TYPE create(Object... elements);
}
