package speiger.src.testers.PACKAGE.tests.list;

import org.junit.Ignore;

#ignore
import static com.google.common.collect.testing.features.CollectionFeature.SUPPORTS_ADD;
import static com.google.common.collect.testing.features.CollectionSize.ONE;
#endignore

import com.google.common.collect.testing.features.CollectionFeature;
import com.google.common.collect.testing.features.CollectionSize;

import speiger.src.testers.PACKAGE.tests.base.ABSTRACT_LIST_TESTER;

@Ignore
@SuppressWarnings("javadoc")
public class FILE_KEY_TYPEListAbsentTester KEY_GENERIC_TYPE extends ABSTRACT_LIST_TESTER KEY_GENERIC_TYPE
{
#ignore
	@CollectionFeature.Require(SUPPORTS_ADD)
	@CollectionSize.Require(ONE)
#endignore
	public void testIfAbsent() {
		assertTrue("addIfAbsent(absent) should return true", getList().addIfAbsent(e1()));
		expectAdded(e1());
	}
	
#ignore
	@CollectionFeature.Require(SUPPORTS_ADD)
	@CollectionSize.Require(ONE)
#endignore
	public void testIfPresent() {
		assertFalse("addIfAbsent(present) should return false", getList().addIfAbsent(e0()));
		expectUnchanged();
	}
	
#ignore
	@CollectionFeature.Require(absent = SUPPORTS_ADD)
	@CollectionSize.Require(ONE)
#endignore
	public void test_IfAbsentUnsupported() {
		try {
			assertFalse("addIfAbsent(absent) should return false", getList().addIfAbsent(e1()));			
		} catch (UnsupportedOperationException e) {
			//Success
		}
	}
	
#ignore
	@CollectionFeature.Require(absent = SUPPORTS_ADD)
	@CollectionSize.Require(ONE)
#endignore
	public void test_IfPresentUnsupported() {
		try {
			assertFalse("addIfAbsent(present) should return false", getList().addIfAbsent(e0()));			
		} catch (UnsupportedOperationException e) {
			//Success
		}
	}
}
