package speiger.src.testers.PACKAGE.tests.list;

import org.junit.Ignore;

#ignore
import static com.google.common.collect.testing.features.CollectionFeature.SERIALIZABLE_INCLUDING_VIEWS;
import static com.google.common.collect.testing.features.CollectionSize.ONE;
import static com.google.common.collect.testing.features.CollectionSize.ZERO;
import static com.google.common.collect.testing.features.ListFeature.SUPPORTS_ADD_WITH_INDEX;
import static com.google.common.collect.testing.features.ListFeature.SUPPORTS_REMOVE_WITH_INDEX;
import static com.google.common.collect.testing.features.ListFeature.SUPPORTS_SET;
#endignore

import java.util.Arrays;
import java.util.Collections;

import com.google.common.collect.testing.features.CollectionFeature;
import com.google.common.collect.testing.features.CollectionSize;
import com.google.common.collect.testing.features.ListFeature;
import com.google.common.testing.SerializableTester;

import speiger.src.collections.PACKAGE.lists.ARRAY_LIST;
import speiger.src.collections.PACKAGE.lists.LIST;
import speiger.src.collections.PACKAGE.utils.LISTS;
import speiger.src.testers.PACKAGE.tests.base.ABSTRACT_LIST_TESTER;
import speiger.src.testers.PACKAGE.utils.HELPERS;

@Ignore
@SuppressWarnings("javadoc")
public class FILE_KEY_TYPEListSubListTester KEY_GENERIC_TYPE extends ABSTRACT_LIST_TESTER KEY_GENERIC_TYPE
{
	public void testSubList_startNegative() {
		try {
			getList().subList(-1, 0);
			fail("subList(-1, 0) should throw");
		} catch (IndexOutOfBoundsException expected) {
		}
	}

	public void testSubList_endTooLarge() {
		try {
			getList().subList(0, getNumElements() + 1);
			fail("subList(0, size + 1) should throw");
		} catch (IndexOutOfBoundsException expected) {
		}
	}

	public void testSubList_startGreaterThanEnd() {
		try {
			getList().subList(1, 0);
			fail("subList(1, 0) should throw");
		} catch (IndexOutOfBoundsException expected) {
		} catch (IllegalArgumentException expected) {
		}
	}

	public void testSubList_empty() {
		assertEquals("subList(0, 0) should be empty", LISTS.empty(), getList().subList(0, 0));
	}

	public void testSubList_entireList() {
		assertEquals("subList(0, size) should be equal to the original list", getList(), getList().subList(0, getNumElements()));
	}

#ignore
	@ListFeature.Require(SUPPORTS_REMOVE_WITH_INDEX)
	@CollectionSize.Require(absent = ZERO)
#endignore
	public void testSubList_subListRemoveAffectsOriginal() {
		LIST KEY_GENERIC_TYPE subList = getList().subList(0, 1);
		subList.REMOVE(0);
		expectContents(ARRAY_LIST.wrap(createSamplesArray()).subList(1, getNumElements()));
	}

#ignore
	@ListFeature.Require(SUPPORTS_REMOVE_WITH_INDEX)
	@CollectionSize.Require(absent = ZERO)
#endignore
	public void testSubList_subListClearAffectsOriginal() {
		LIST KEY_GENERIC_TYPE subList = getList().subList(0, 1);
		subList.clear();
		expectContents(ARRAY_LIST.wrap(createSamplesArray()).subList(1, getNumElements()));
	}

#ignore
	@ListFeature.Require(SUPPORTS_ADD_WITH_INDEX)
#endignore
	public void testSubList_subListAddAffectsOriginal() {
		LIST KEY_GENERIC_TYPE subList = getList().subList(0, 0);
		subList.add(e3());
		expectAddedIndex(0, e3());
	}

#ignore
	@ListFeature.Require(SUPPORTS_SET)
	@CollectionSize.Require(absent = ZERO)
#endignore
	public void testSubList_subListSetAffectsOriginal() {
		LIST KEY_GENERIC_TYPE subList = getList().subList(0, 1);
		subList.set(0, e3());
		LIST KEY_GENERIC_TYPE expected = HELPERS.copyToList(createSamplesArray());
		expected.set(0, e3());
		expectContents(expected);
	}

#ignore
	@ListFeature.Require(SUPPORTS_SET)
	@CollectionSize.Require(absent = ZERO)
#endignore
	public void testSubList_originalListSetAffectsSubList() {
		LIST KEY_GENERIC_TYPE subList = getList().subList(0, 1);
		getList().set(0, e3());
		assertEquals("A set() call to a list after a sublist has been created should be reflected in the sublist", LISTS.singleton(e3()), subList);
	}
	
#ignore
	@ListFeature.Require(SUPPORTS_REMOVE_WITH_INDEX)
	@CollectionSize.Require(absent = { ZERO, ONE })
#endignore
	public void testSubList_subListRemoveAffectsOriginalLargeList() {
		LIST KEY_GENERIC_TYPE subList = getList().subList(1, 3);
#if TYPE_OBJECT
		subList.remove(e2());
#else
		subList.REMOVE_KEY(e2());
#endif
		LIST KEY_GENERIC_TYPE expected = HELPERS.copyToList(createSamplesArray());
		expected.REMOVE(2);
		expectContents(expected);
	}

#ignore
	@ListFeature.Require(SUPPORTS_ADD_WITH_INDEX)
	@CollectionSize.Require(absent = { ZERO, ONE })
#endignore
	public void testSubList_subListAddAtIndexAffectsOriginalLargeList() {
		LIST KEY_GENERIC_TYPE subList = getList().subList(2, 3);
		subList.add(0, e3());
		expectAddedIndex(2, e3());
	}

#ignore
	@ListFeature.Require(SUPPORTS_SET)
	@CollectionSize.Require(absent = { ZERO, ONE })
#endignore
	public void testSubList_subListSetAffectsOriginalLargeList() {
		LIST KEY_GENERIC_TYPE subList = getList().subList(1, 2);
		subList.set(0, e3());
		LIST KEY_GENERIC_TYPE expected = HELPERS.copyToList(createSamplesArray());
		expected.set(1, e3());
		expectContents(expected);
	}

#ignore
	@ListFeature.Require(SUPPORTS_SET)
	@CollectionSize.Require(absent = { ZERO, ONE })
#endignore
	public void testSubList_originalListSetAffectsSubListLargeList() {
		LIST KEY_GENERIC_TYPE subList = getList().subList(1, 3);
		getList().set(1, e3());
		assertEquals("A set() call to a list after a sublist has been created " + "should be reflected in the sublist",
				Arrays.asList(e3(), e2()), subList);
	}

	public void testSubList_ofSubListEmpty() {
		LIST KEY_GENERIC_TYPE subList = getList().subList(0, 0).subList(0, 0);
		assertEquals("subList(0, 0).subList(0, 0) should be an empty list", LISTS.empty(), subList);
	}

	@CollectionSize.Require(absent = { ZERO, ONE })
	public void testSubList_ofSubListNonEmpty() {
		LIST KEY_GENERIC_TYPE subList = getList().subList(0, 2).subList(1, 2);
		assertEquals("subList(0, 2).subList(1, 2) " + "should be a single-element list of the element at index 1",
				Collections.singletonList(getOrderedElements().GET_KEY(1)), subList);
	}

#ignore
	@CollectionSize.Require(absent = { ZERO })
#endignore
	public void testSubList_size() {
		LIST KEY_GENERIC_TYPE list = getList();
		int size = getNumElements();
		assertEquals(size, list.subList(0, size).size());
		assertEquals(size - 1, list.subList(0, size - 1).size());
		assertEquals(size - 1, list.subList(1, size).size());
		assertEquals(0, list.subList(size, size).size());
		assertEquals(0, list.subList(0, 0).size());
	}

#ignore
	@CollectionSize.Require(absent = { ZERO })
#endignore
	public void testSubList_isEmpty() {
		LIST KEY_GENERIC_TYPE list = getList();
		int size = getNumElements();
		for (LIST KEY_GENERIC_TYPE subList : Arrays.asList(list.subList(0, size), list.subList(0, size - 1), list.subList(1, size),
				list.subList(0, 0), list.subList(size, size))) {
			assertEquals(subList.size() == 0, subList.isEmpty());
		}
	}

#ignore
	@CollectionSize.Require(absent = { ZERO, ONE })
#endignore
	public void testSubList_get() {
		LIST KEY_GENERIC_TYPE list = getList();
		int size = getNumElements();
		LIST KEY_GENERIC_TYPE copy = list.subList(0, size);
		LIST KEY_GENERIC_TYPE head = list.subList(0, size - 1);
		LIST KEY_GENERIC_TYPE tail = list.subList(1, size);
		assertEquals(list.GET_KEY(0), copy.GET_KEY(0));
		assertEquals(list.GET_KEY(size - 1), copy.GET_KEY(size - 1));
		assertEquals(list.GET_KEY(1), tail.GET_KEY(0));
		assertEquals(list.GET_KEY(size - 1), tail.GET_KEY(size - 2));
		assertEquals(list.GET_KEY(0), head.GET_KEY(0));
		assertEquals(list.GET_KEY(size - 2), head.GET_KEY(size - 2));
		for (LIST KEY_GENERIC_TYPE subList : Arrays.asList(copy, head, tail)) {
			for (int index : Arrays.asList(-1, subList.size())) {
				try {
					subList.GET_KEY(index);
					fail("expected IndexOutOfBoundsException");
				} catch (IndexOutOfBoundsException expected) {
				}
			}
		}
	}

#ignore
	@CollectionSize.Require(absent = { ZERO, ONE })
#endignore
	public void testSubList_contains() {
		LIST KEY_GENERIC_TYPE list = getList();
		int size = getNumElements();
		LIST KEY_GENERIC_TYPE copy = list.subList(0, size);
		LIST KEY_GENERIC_TYPE head = list.subList(0, size - 1);
		LIST KEY_GENERIC_TYPE tail = list.subList(1, size);
		assertTrue(copy.contains(list.GET_KEY(0)));
		assertTrue(head.contains(list.GET_KEY(0)));
		assertTrue(tail.contains(list.GET_KEY(1)));
		// The following assumes all elements are distinct.
		assertTrue(copy.contains(list.GET_KEY(size - 1)));
		assertTrue(head.contains(list.GET_KEY(size - 2)));
		assertTrue(tail.contains(list.GET_KEY(size - 1)));
		assertFalse(head.contains(list.GET_KEY(size - 1)));
		assertFalse(tail.contains(list.GET_KEY(0)));
	}

#ignore
	@CollectionSize.Require(absent = { ZERO, ONE })
#endignore
	public void testSubList_indexOf() {
		LIST KEY_GENERIC_TYPE list = getList();
		int size = getNumElements();
		LIST KEY_GENERIC_TYPE copy = list.subList(0, size);
		LIST KEY_GENERIC_TYPE head = list.subList(0, size - 1);
		LIST KEY_GENERIC_TYPE tail = list.subList(1, size);
		assertEquals(0, copy.indexOf(list.GET_KEY(0)));
		assertEquals(0, head.indexOf(list.GET_KEY(0)));
		assertEquals(0, tail.indexOf(list.GET_KEY(1)));
		// The following assumes all elements are distinct.
		assertEquals(size - 1, copy.indexOf(list.GET_KEY(size - 1)));
		assertEquals(size - 2, head.indexOf(list.GET_KEY(size - 2)));
		assertEquals(size - 2, tail.indexOf(list.GET_KEY(size - 1)));
		assertEquals(-1, head.indexOf(list.GET_KEY(size - 1)));
		assertEquals(-1, tail.indexOf(list.GET_KEY(0)));
	}

#ignore
	@CollectionSize.Require(absent = { ZERO, ONE })
#endignore
	public void testSubList_lastIndexOf() {
		LIST KEY_GENERIC_TYPE list = getList();
		int size = list.size();
		LIST KEY_GENERIC_TYPE copy = list.subList(0, size);
		LIST KEY_GENERIC_TYPE head = list.subList(0, size - 1);
		LIST KEY_GENERIC_TYPE tail = list.subList(1, size);
		assertEquals(size - 1, copy.lastIndexOf(list.GET_KEY(size - 1)));
		assertEquals(size - 2, head.lastIndexOf(list.GET_KEY(size - 2)));
		assertEquals(size - 2, tail.lastIndexOf(list.GET_KEY(size - 1)));
		// The following assumes all elements are distinct.
		assertEquals(0, copy.lastIndexOf(list.GET_KEY(0)));
		assertEquals(0, head.lastIndexOf(list.GET_KEY(0)));
		assertEquals(0, tail.lastIndexOf(list.GET_KEY(1)));
		assertEquals(-1, head.lastIndexOf(list.GET_KEY(size - 1)));
		assertEquals(-1, tail.lastIndexOf(list.GET_KEY(0)));
	}

#ignore
	@CollectionFeature.Require(SERIALIZABLE_INCLUDING_VIEWS)
#endignore
	public void testReserializeWholeSubList() {
		SerializableTester.reserializeAndAssert(getList().subList(0, getNumElements()));
	}

#ignore
	@CollectionFeature.Require(SERIALIZABLE_INCLUDING_VIEWS)
#endignore
	public void testReserializeEmptySubList() {
		SerializableTester.reserializeAndAssert(getList().subList(0, 0));
	}

#ignore
	@CollectionFeature.Require(SERIALIZABLE_INCLUDING_VIEWS)
	@CollectionSize.Require(absent = { ZERO, ONE })
#endignore
	public void testReserializeSubList() {
		SerializableTester.reserializeAndAssert(getList().subList(0, 2));
	}
}
