package speiger.src.collections.example;

import java.util.List;

public interface LISTKEY_GENERIC_TYPE extends List<CLASS_TYPE>
{
#if !OBJECT
	public void add(KEY_TYPE e);
#endif
	public default boolean add(CLASS_TYPE e) {return true;}
}