name: Latest Build

on:
   push:
      branches: [ master ]
   pull_request:
      branches: [ master ]

jobs:
   build:
      strategy:
         fail-fast: false
         matrix:
            jdk: [8, 11, 16, 17, 18, 19, 20]

      runs-on: ubuntu-latest
      steps:
         - uses: actions/checkout@v2
         
         - name: Set up JDK ${{ matrix.jdk }}
           uses: actions/setup-java@v3
           with:
               distribution: 'temurin'
               java-version: ${{ matrix.jdk }}

         - name: Validate Gradle wrapper
           uses: gradle/wrapper-validation-action@e6e38bacfdf1a337459f332974bb2327a31aaf4b

         - name: Make gradlew executable
           run: chmod +x ./gradlew

         - name: Build with Gradle
           run: ./gradlew build
